modules = ["nodejs-20"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Run Web"

[[workflows.workflow]]
name = "Run"
author = 45766269
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --tunnel"

[[workflows.workflow]]
name = "Run Local"
author = 45791329
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start"

[[workflows.workflow]]
name = "Run Web"
author = 45844750
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --web"
